version: '3'
services:
  ruby-slackbot:
    container_name: ruby-slackbot
    build:
      context: .
    ports:
    - 3000
    environment:
    - PORT=3000
    volumes:
      - .:/app
      - vendor:/app/vendor
  yaichi:
    image: mtsmfm/yaichi:1.7.0
    ports:
      - 80:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  vendor:
